In [40]:
import pandas as pd
from dotenv import load_dotenv

In [25]:
from translation.database import get_posts_from_titles

In [42]:
load_dotenv(dotenv_path=".env.db")

False

In [29]:
df_en = pd.read_csv("./data/articles_traduction_anglais_241015.csv")

In [30]:
df_es = pd.read_csv("./data/articles_traduction_espagnol_241016.csv")

In [32]:
# Rename column ["A traduire ?"] par "to_be_translated_en" et remplace OUI par True et le reste par False
df_en["to_be_translated_en"] = df_en["A traduire ?"].apply(
    lambda x: True if x == "OUI" else False
)

df_en = df_en[["title", "to_be_translated_en"]]

In [33]:
df_en.head()

                                               title  to_be_translated_en
0             Qu'est-ce que le projet de naissance ?                False
1  Les méthodes classiques de préparation à la na...                False
2  Les méthodes alternatives de préparation à la ...                False
3           Les suites immédiates d'un accouchement                 False
4                     Les instruments à la naissance                False

In [35]:
# Rename column ["A traduire ?"] par "to_be_translated_en" et remplace OUI par True et le reste par False
df_es["to_be_translated_es"] = df_es["A traduire ?"].apply(
    lambda x: True if x == "OUI" else False
)

df_es = df_es[["title", "to_be_translated_es"]]

In [36]:
# Merge les deux dataframes
df = pd.merge(df_en, df_es, on="title", how="outer")

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                760 non-null    object
 1   to_be_translated_en  760 non-null    bool
 2   to_be_translated_es  760 non-null    bool
dtypes: bool(2), object(1)
memory usage: 7.6+ KB

In [43]:
df_post = get_posts_from_titles(df)

TypeError: can only concatenate str (not "NoneType") to str

In [44]:
df_post = pd.read_csv("./data/posts.csv")

In [49]:
# merge df and df_post
data = pd.merge(df, df_post, on="title", how="outer")

In [50]:
data.head()

,title,to_be_translated_en,to_be_translated_es,id,content
0,"""Bien se tenir à table"", ça veut dire quoi exa...",False,False,792,Voici un sujet qui fait souvent débat dans les...
1,10 questions que vous vous posez sur l'allaite...,True,True,584,Allaiter des jumeaux peut paraître fastidieux ...
2,10 sujets tabous sur la maternité,True,True,486,"Si la parole se libère, il reste de nombreuses..."
3,1er mois de grossesse : tout ce qu'il se passe,True,True,392,## Ce qu’il se passe en ce moment pour votre b...
4,2 conseils clés pour les débuts de l'allaitement,True,True,122,Voici 2 conseils de l'équipe May pour bien dém...

In [51]:
# supprimer la colonne content et ajouter les colonnes ai_translated_es ai_translated_en translation_reviewed_es translation_reviewed_en translation_reviewed_by_es translation_reviewed_by_en approved_es approved_en approved_by_es approved_by_en
data = data.drop(columns=["content"])

bool_colonnes = [
    "ai_translated_es",
    "ai_translated_en",
    "translation_reviewed_es",
    "translation_reviewed_en",
    "approved_es",
    "approved_en",
]

text_colonnes = [
    "translation_reviewed_by_es",
    "translation_reviewed_by_en",
    "approved_by_es",
    "approved_by_en",
]

for col in text_colonnes:
    data[col] = None  # Vous pouvez remplacer None par une valeur initiale comme ""

for col in bool_colonnes:
    data[col] = False

In [52]:
data.head()

,title,to_be_translated_en,to_be_translated_es,id,translation_reviewed_by_es,translation_reviewed_by_en,approved_by_es,approved_by_en,ai_translated_es,ai_translated_en,translation_reviewed_es,translation_reviewed_en,approved_es,approved_en
0,"""Bien se tenir à table"", ça veut dire quoi exa...",False,False,792,None,None,None,None,False,False,False,False,False,False
1,10 questions que vous vous posez sur l'allaite...,True,True,584,None,None,None,None,False,False,False,False,False,False
2,10 sujets tabous sur la maternité,True,True,486,None,None,None,None,False,False,False,False,False,False
3,1er mois de grossesse : tout ce qu'il se passe,True,True,392,None,None,None,None,False,False,False,False,False,False
4,2 conseils clés pour les débuts de l'allaitement,True,True,122,None,None,None,None,False,False,False,False,False,False

In [53]:
en_df = pd.read_csv("./data/posts_translated_241015.csv")

In [54]:
en_df.head()

,id,title,content
0,339,Epidural\n\nThe epidural is a common medical p...,Epidural anesthesia is the most common method ...
1,613,"Uterine Contractions: Why, When, How?\n\nUteri...",The uterus is made up of several layers. While...
2,335,The Final Stretch: The Pushing Stage,Expulsion is the final stage that separates yo...
3,726,What Does Your Baby Experience During Birth?\n...,"When we talk about childbirth, we generally fo..."
4,372,"Cesarean Section\n\nA cesarean section, often ...",Cesarean sections account for 20.4% of births ...

In [55]:
# si id dans data est dans en_df, alors on met à jour les colonnes ai_translated_en -> True

data.loc[data["id"].isin(en_df["id"]), "ai_translated_en"] = True

In [56]:
df_es_1 = pd.read_csv("./data/posts_translated_es_Cintia_241016.csv")

In [57]:
df_es_2 = pd.read_csv("./data/posts_translated_es_Maria_241016.csv")

In [58]:
# si id dans data est dans df_es_1 ou df_es_2 alors on met à jour les colonnes ai_translated_es -> True
data.loc[data["id"].isin(df_es_1["id"]), "ai_translated_es"] = True
data.loc[data["id"].isin(df_es_2["id"]), "ai_translated_es"] = True

In [59]:
data.head()

,title,to_be_translated_en,to_be_translated_es,id,translation_reviewed_by_es,translation_reviewed_by_en,approved_by_es,approved_by_en,ai_translated_es,ai_translated_en,translation_reviewed_es,translation_reviewed_en,approved_es,approved_en
0,"""Bien se tenir à table"", ça veut dire quoi exa...",False,False,792,None,None,None,None,False,False,False,False,False,False
1,10 questions que vous vous posez sur l'allaite...,True,True,584,None,None,None,None,False,False,False,False,False,False
2,10 sujets tabous sur la maternité,True,True,486,None,None,None,None,True,False,False,False,False,False
3,1er mois de grossesse : tout ce qu'il se passe,True,True,392,None,None,None,None,True,False,False,False,False,False
4,2 conseils clés pour les débuts de l'allaitement,True,True,122,None,None,None,None,False,False,False,False,False,False

In [60]:
data.to_csv("./data/translation_followup.csv", index=False)

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   title                       760 non-null    object
 1   to_be_translated_en         760 non-null    bool
 2   to_be_translated_es         760 non-null    bool
 3   id                          760 non-null    int64
 4   translation_reviewed_by_es  0 non-null      object
 5   translation_reviewed_by_en  0 non-null      object
 6   approved_by_es              0 non-null      object
 7   approved_by_en              0 non-null      object
 8   ai_translated_es            760 non-null    bool
 9   ai_translated_en            760 non-null    bool
 10  translation_reviewed_es     760 non-null    bool
 11  translation_reviewed_en     760 non-null    bool
 12  approved_es                 760 non-null    bool
 13  approved_en                 760 non-null    bool
dtypes: bool(8), int64(1), object(5)
memory usage: 41.7+ KB